body {
    margin: 0px;
    padding: 0px;
    background-color: #0e1538;
}

.home_page {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px;
    background-color: yellow;
    grid-template-areas:
        'header'
        'main'
        'footer';
    gap: 10px;
}

.header {
    grid-area: header;
    background-color: yellow;
    height: 100px;
    width: 100%;
}

.navbar {
    width: 98%;
    height: 100px;
    padding: 0px 0px 0px 2%;
    height: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: auto;
    grid-template-areas:
        'logo marquee nav_list';
    gap: 10px;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr;
}

.marquee{
    background-color: black;
    position: relative;
    color: #fff;
    left: 10px;
    width: 60%;
    height: 100%;
}
.marquee h1{
    margin: 0px;
    text-align: center;
}

.logo {
    grid-area: logo;
    background-color: green;
    border-radius: 50%;
    width: 100px;
    height: 100%;
    text-align: center;
}

.nav_list {
    grid-area: nav_list;
    position: absolute;
    right: 0px;
    width: 35%;
    padding-right: 3%;
    height: 100px;
}

#nav_list_option {
    list-style: none;
    width: 100%;
    display: flex;
    column-gap: 50px;
    justify-content: end;
    margin: 0px;
    padding: 40px 0px 40px 0px;
}
#nav_list_option a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.main {
    grid-area: main;
    background-color: red;
    width: 100%;
    height: 500px
}

.footer {
    grid-area: footer;
    background-color: pink;
    width: 100%;
    height: 100px;
}